body{
    z-index: 5;
    background:rgba(245, 245, 220, 0.541);
}


main{
    z-index: 2;
    display: flex;
    align-items: center;
}
#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width:70%;
    
}

form{
    min-height: 70%;
    min-width: 70%;
    max-height:90%;
    max-width: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    padding: 8% 6%;
    box-shadow: gray 0 0 5px;
    background:beige;
    gap:1em;

}   

textarea{
    min-height: 20%;
    max-height: 30%;
    padding-top:1%;
}

form *{
    width: 80%;
}

input{
    padding: 0.3%;
}


input,textarea{
    background-color: rgba(170, 241, 218, 0.575);
    border: 0;
    box-shadow: gray 0 0 5px;
    padding-left: 2%;
    border-radius: .2em;
    min-height: 1em;
    max-height: 5em;
    transition: transform 1s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

input:focus,textarea:focus{
    outline: 0;
    border:0;
    background-color: rgba(0, 255, 255, 0.356);
    transform: scale(1.05);
}

button{
    width: 50%;
    max-width: 150px;
    border:0 ;
    box-shadow: gray 0 0 5px;
    border-radius: .3em;
    background-color: rgba(45, 45, 180, 0.596);
}

button:hover{
    cursor:pointer;
    background-color: rgba(45, 45, 180, 0.788);
}
